aiohttp==3.6.2
brotli==1.0.7
cryptography==2.8
Cython==0.29.14
fastai==1.0.60
ipaddr==2.2.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keyring==10.6.0
matplotlib==3.1.2
mock==3.0.5
numpy==1.18.1
ordereddict==1.1
opencv-python==4.1.0.25
Pillow==7.0.0
protobuf==3.11.2
pyOpenSSL==19.1.0
scipy==1.4.1
simplejson==3.17.0
starlette==0.13.0
tensorboard==1.13.1
tensorflow==2.7.2
tensorflow-estimator==1.13.0
uvicorn==0.11.2
wincertstore==0.2
Werkzeug==0.15.4